{% extends 'base.html' %}
{% load static i18n %}
{% block title %}BeBlEv: {% trans "User profile" %}{% endblock title %}

{% block main %}
    <article>
        <header class="grid">
            <div>
                {% if user.profile.avatar %}
                    <img class="profileavatar" src="{{ user.profile.avatar.url }}">
                {% else %}
                    <img class="profileavatar" src="{% static 'blog/img/default_avatar.png' %}">
                {% endif %}
                <hgroup>
                    <h1>{{ user.get_full_name }}</h1>
                    <h2>{{ user.username }}</h2>
                </hgroup>
            </div>
        </header>
        <section>
            <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p}}
                {{ profile_form.as_p}}
                <button type="submit">{% trans "update"|capfirst %}</button>
            </form>
        </section>
    </article>
{% endblock main %}