{% extends 'base.html' %}
{% load static i18n %}
{% block title %}BeBlEv: {% trans "New User Registration" %}{% endblock title %}

{% block main %}
    <article>
        <header>
            <h1>{% trans "New User Registration" %}</h1>
        </header>
        <section>
            <p>{% trans "Please enter Your information below." %}</p>
            <form method="post" action="{{ request.path }}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="{% trans 'username'|capfirst %}" value="{{ request.POST.username }}">
                <small>{% trans "up to 100 symbols." %}</small>
                
                <input type="email" name="email" placeholder="{% trans 'email'|capfirst %}" value="{{ request.POST.email }}">
                
                <input type="password" name="password1" placeholder="{% trans 'password'|capfirst %}">
                <small>{% trans "minimum 8 symbols and cannot be only numbers, or match any part of username." %}</small>
                
                <input type="password" name="password2" placeholder="{% trans 'confirm password'|capfirst %}">
                
                <button type="submit">{% trans 'sign up'|capfirst %}</button>
            </form>
        </section>
    </article>
{% endblock main %}