{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Welcome to BeBlEv{% endblock title %}

{% block main %}
    <article>
        <header class="grid">
            <div class="container-fluid">
                {% if user.userprofile.avatar %}
                    <img class="profileavatar" src="{{ user.userprofile.avatar.url }}">
                {% else %}
                    <img class="profileavatar" src="{% static 'blog/img/default_avatar.png' %}">
                {% endif %}
                <hgroup>
                    <h1>{{ user.get_full_name }}</h1>
                    <h2>{{ user.username }}</h2>
                </hgroup>
            </div>
            <div>
               
                    <a role="button" href="">&#x2712; Write new post</a>
               
            </div>
        </header>
        <section>

            {% if author_posts_list.count > 0 %}
            <h3> Total posts ({{ author_posts_list.count }})</h3>
            <ol>
                {% for post in author_posts_list %}
                <li><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></li>
                {% endfor %}
            </ol>
            {% else %}
                <h3> Author have not posted yet</h3>
            {% endif %}
        </section>
    </article>
{% endblock main %}