{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Welcome to BeBlEv{% endblock title %}

{% block main %}
    <article>
        <header>
            <form class="grid">
                <input type="text" name="search" placeholder="Search for authors" />
                <button class="primary" type="submit">&#x1F373; Search</button>
            </form>
        </header>
        
        {% for author in user_list %}
        <details>
            <summary><strong>
                {% if author.userprofile.avatar %}
                    <img class="profileavatar" src="{{ author.userprofile.avatar.url }}">
                {% else %}
                    <img class="profileavatar" src="{% static 'blog/img/default_avatar.png' %}">
                {% endif %}
                {{ author.get_full_name }} published {{ author.posts.count }} post(s)</strong></summary>
            <ul>
                {% for post in author.posts.all %}
                    <li><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </details>
        {% endfor %}
    </article>
    {% include 'blog/includes/paginator.html' %}
{% endblock main %}