{% extends 'base.html' %}
{% load static i18n %}
{% block title %}BeBlEv: {% trans "Your posts" %}{% endblock title %}
{% block head %}
    <script>
        function open_create_new_post(){
            location.href="{% url 'create-new-post' %}";
        }
    </script>
{% endblock head %}
{% block main %}
    <article>
        <header class="grid">
            <div>
                {% if user.profile.avatar %}
                    <img class="profileavatar" src="{{ user.profile.avatar.url }}">
                {% else %}
                    <img class="profileavatar" src="{% static 'blog/img/default_avatar.png' %}">
                {% endif %}
                <hgroup>
                    <h1>{{ user.get_full_name }}</h1>
                    <h2>{{ user.username }}</h2>
                </hgroup>
            </div>
            <div>
                <button type="button" onclick="open_create_new_post()">&#x2712; {% trans "Create new post" %}</button>
            </div>
        </header>
        <section>

            {% if author_posts_list.count > 0 %}
            <h3> {% trans "Total posts" %} ({{ author_posts_list.count }})</h3>
            <table>
                <thead>
                    <tr>
                        <th>{% trans "updated"|capfirst %}</th>
                        <th>{% trans "title"|capfirst %}</th>
                        <th>{% trans "status"|capfirst %}</th>
                        <th>{% trans "comments"|capfirst %}</th>
                        <th>{% trans "action"|capfirst %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in author_posts_list %}
                        <tr>
                            <td>{{ post.updated|date:"Y-m-d" }}</td>
                            <td><a href="{% url 'post-detail' post.id %}">{{ post.title }}</td>
                            <td>{{ post.get_status_display }}</td>
                            <td>{{ post.comments.count }}</td>
                            <td><a href="{% url 'update-post' post.id %}" data-tooltip="{% trans 'edit'|capfirst %}">&#x1F4DD;</a>
                                <a href="{% url 'delete-post' post.id %}" data-tooltip="{% trans 'delete'|capfirst %}">&#x274C;</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h3> {% trans "Author have not posted yet" %}</h3>
            {% endif %}
        </section>
    </article>
{% endblock main %}