{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Welcome to BeBlEv{% endblock title %}

{% block main %}
    {% for post in posts %}
    
    <article>
        <header>
        <hgroup>
            <h1>{{ post.title }}</h1>
            <h2>By <a href="authors/{{ post.author.id }}">{{ post.author.get_full_name }}</a> on {{ post.updated }} </h2>
        </hgroup> 
    </header>
        <section>{{ post.text|safe|truncatewords:50 }}</section>
        <footer><a href="posts/{{ post.id }}">[ Continue reading ]</a></footer>
    </article>
       
    {% endfor %}
    {% with posts as page_obj %}
        {% include 'blog/includes/paginator.html' %}
    {% endwith %}
    
    

{% endblock main %}