{% extends 'base.html' %}
{% load static i18n %}
{% block title %}BeBlEv: {% trans "Create new post" %} {% endblock title %}
{% block head %}
    {{ form.media }}
{% endblock head %}

{% block main %}
    <article>
        <header>
            <h1>{% trans "Create new post" %}</h1>
        </header>
        <form method="post" action="{{ request.path }}">
            {% csrf_token %}
            <label for="title">{% trans "title"|capfirst %}</label>
            {{ form.title }}
            
            <label for="category">{% trans "Select categories" %}</label>
            {{ form.category }}
            
            {{ form.text }}
            
            <label id="create-post-status-label" for="status">{% trans "Change status" %}</label>
            {{ form.status }}
            <button type="submit">{% trans "save"|capfirst %}</button>
        </form>
    </article>   
{% endblock main %}