{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Welcome to BeBlEv{% endblock title %}

{% block main %}
    <article>
        <header>
            <form class="grid">
                <input type="search" name="search" placeholder="Search for posts" value="{{ request.GET.search }}"/>
                <button class="primary" type="submit">&#x1F373; Search</button>
            </form>
            
            <label for="category">Or filter by category:</label>
            <select id="category" required onchange='location = this.value;'">
                <option value="{% url 'posts' %}">Select category...</option>
                {% for category in categories %}
                    <option value="?category_id={{ category.id }}" {% if category.id == selected_category.id %}selected="selected"{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </header>

        {% for post in post_list %}
        <details>
            <summary><strong>{{ post.title }} by {{ post.author.get_full_name }}</strong></summary>
            <section>
                {{ post.text|safe|truncatewords:50 }}
                <a href="{% url 'post-detail' post.id %}">Continue reading</a>
             </section>
        </details>
        {% endfor %}
    </article>
    {% include 'blog/includes/paginator.html' %}
{% endblock main %}