{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Reset BeBlEv password{% endblock title %}

{% block main %}
    <article>
        <h1>Password reset</h1>
        
        {% if form.errors %}
            <mark>Error while trying to reset your password. Please try again.</mark><p></p>
        {% endif %}

        <form id="passreset-form" method="post" action="{{ request.path }}">
            {% csrf_token %}
            {% if form.errors %}
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New password:" aria-invalid="true">
                <span class="helptext"></span>
            {% else %}
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New password:">
                <span class="helptext"></span>
            {% endif %}
            
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
            
            {% if form.errors %}
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="New password confirmation:" aria-invalid="true">
            {% else %}
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="New password confirmation:">
            {% endif %}
            <button type="submit">Reset password</button>
        </form>
    </article>
{% endblock main %}