{% extends 'base.html' %}
{% load static i18n %}
{% block title %}BeBlEv: {% trans "reset password"|capfirst %}{% endblock title %}

{% block main %}
    <article>
        <h1>{% trans "reset password"|capfirst %}</h1>
        
        {% if form.errors %}
            <mark>{% trans "Error while trying to reset your password. Please try again." %}</mark><p></p>
        {% endif %}
        
        <form id="passreset-form" method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {% if form.errors %}
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="{% trans 'Enter your email address' %}" aria-invalid="true">    
            {% else %}
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" placeholder="{% trans 'Enter your email address' %}" id="id_email">
            {% endif %}
            <button type="submit">{% trans "password reset"|capfirst %}</button>
        </form>
    </article>
{% endblock main %}