{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Login to BeBlEv{% endblock title %}

{% block main %}
    <article>
        <h1>Password reset</h1>
        
        {% if form.errors %}
            <mark>Error while trying to reset your password. Please try again.</mark><p></p>
        {% endif %}
        
        <form id="passreset-form" method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {% if form.errors %}
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" aria-invalid="true">    
            {% else %}
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
            {% endif %}
            <button type="submit">Reset password</button>
        </form>
    </article>
{% endblock main %}