{% extends 'base.html' %}
{% load static i18n %}
{% block title %}BeBlEv: {% trans "reset password"|capfirst %}{% endblock title %}

{% block main %}
    <article>
        <h1>{% trans "reset password"|capfirst %}</h1>
        
        {% if form.errors %}
            <mark>{% trans "Error while trying to reset your password. Please try again" %}.</mark><p></p>
        {% endif %}

        <form id="passreset-form" method="post" action="{{ request.path }}">
            {% csrf_token %}
            {% if form.errors %}
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="{% trans 'New password:' %}" aria-invalid="true">
                <span class="helptext"></span>
            {% else %}
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="{% trans 'New password:' %}">
                <span class="helptext"></span>
            {% endif %}
            
            <ul>
                <li>{% trans "Your password can't be too similar to your other personal information." %}</li>
                <li>{% trans "Your password must contain at least 8 characters." %}</li>
                <li>{% trans "Your password can't be a commonly used password." %}</li>
                <li>{% trans "Your password can't be entirely numeric." %}</li>
            </ul>
            
            {% if form.errors %}
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="{% trans 'New password confirmation:' %}" aria-invalid="true">
            {% else %}
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="{% trans 'New password confirmation:' %}">
            {% endif %}
            <button type="submit">{% trans "reset password"|capfirst %} </button>
        </form>
    </article>
{% endblock main %}